<body>
    <br>
    <div class="align-items-center " style="text-align: center">
        <img src="https://www.underconsideration.com/brandnew/archives/cinepolis_logo.png" style=" width: 50rem; height: 15rem;">
    </div><br>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3"><h4 for="floatingInput">Ingresa tu Nombre</h4>
                    <input type="name" [(ngModel)]="nombre" class="form-control" id="floatingInput">
                </div>
                <div class="form-floating mb-3"><h4 for="floatingInput">Cantidad de Compradores</h4>
                    <input type="email" class="form-control" id="floatingInput" [(ngModel)]="compradores">
                </div>
                <h4>¿Cuentas con nuestra tarjeta de Cinepolis?</h4>
                <div class="form-check" style="text-align: left;">
                    <input class="form-check-input" type="radio" name="Si" id="Si" [(ngModel)]="tarjetacineco" [value]="true">
                    <label class="form-check-label">
                      Si
                    </label>
                </div>
                <div class="form-check" style="text-align: left;">
                    <input class="form-check-input" type="radio" name="No" id="No" [(ngModel)]="tarjetacineco" [value]="false">
                    <label class="form-check-label">
                      No
                    </label>
                </div>
                <a>{{tarjetacineco}}</a>
                <div class="form-floating mb-3"><h4 for="floatingInput">Cantidad de Boletos</h4>
                    <input type="email" class="form-control" id="floatingInput" [(ngModel)]="ticketsCantidad">
                </div>
            </div>

            <div class="col" style="margin-top: 6rem">
                <div class="form-floating mb-3" style="vertical-align: middle;"><h4 for="floatingInput">Total</h4>
                    <input type="email" class="form-control" id="floatingInput" [(ngModel)]="total" disabled="true">
                </div>
                <div *ngIf="compraExtra">
                    <div class="card-body justify-content-center align-items-center text-center"></div>
                    <h1 class="ticket">Comprado</h1>

                </div>
                <div *ngIf="error">
                    <div class="card-form justify-content-center align-items-center text-center">
                        <h1>No puedes comprar más de 7 boletos por persona </h1>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <br>
                    <div class="form-floating mb-3" style="vertical-align: middle;">
                        <button type="button" class="btn btn-primary" (click)="calculo()">Cálculo</button>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
</body>